@import
	url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap')
	;


html, body {
	font-family: 'Gowun Dodum', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
}

div.wrapper {
	overflow-y: auto;
	overflow-x: hidden;
	height: auto;
	min-height: 100%;
	padding-bottom: 0px;
}

div.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0px;
}

div.header:after {
	content: '';
	display: block;
	clear: both;
}
ul.topnavM {
	font-family: 'Gowun Dodum', sans-serif;
	display: none;
}

ul.topnav {
	font-family: 'Gowun Dodum', sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #61443A;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	object-fit: contain;
	display: block;
	color: white;
	text-align: center;
	margin-left: 30px;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a.txt {
	object-fit: contain;
	display: block;
	color: white;
	text-align: center;
	margin-left: 30px;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a.img {
	object-fit: contain;
	display: block;
	width: 50px;
	height: 50px;
	padding: 0px 3px;
	text-align: center;
	text-decoration: none;
}

a img {
	width: 50px;
	height: 50px;
}

ul.topnav li a:hover:not (.space ):not (.txt ) {
	background-color: #443029;
}

ul.topnav li a.space {
	background-color: #61443A;
}

ul.topnav li.right {
	float: right;
}

.mypage {
	border: 3px solid #9a6c5c;
	padding: 5px 10px;
	border-radius: 10px;
	font-family: "paybooc-Light", sans-serif;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	font-weight: 600;
	float: right;
	transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
	background-color: white;
	color: black;
	margin-top: 9px;
	margin-left: 5px;
}

.mypage:hover {
	background: #9a6c5c;
	color: white;
}
footer {
	display: inline-block;
	background-color: #FFD9CC;
	width: 100%;
	height: 120px;
	position: relative;
}

footer div {
	float: left;
}

footer div.img, footer div img {
	width: 120px;
	height: 120px;
	margin: 0px;
}
@media screen and (max-width: 870px) {
	ul.topnav {
		display: none;
	}

	/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */
	ul.topnavM {
		display: block;
		height: 50px;
		overflow: hidden;
	}
	div.wrapper {
	padding-bottom: 22px;
}
	ul {
		overflow: hidden;
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #61443A;
	}
	li {
		border-bottom: 1px solid #555;
	}
	li .dropbtn {
		object-fit: contain;
		display: block;
		width: 100%;
		height: 50px; padding : 0px 3px;
		margin: auto; text-decoration : none;
		overflow: inherit;
		text-decoration: none;
		padding: 0px 3px;
	}
	li .dropbtn2 {
		object-fit: contain;
		display: block;
		width: 200px;
		height: 50px;
		padding: 0px 3px;
		text-decoration: none;
	}
	li a {
		display: block;
		color: #FFECE5;
		padding: 14px 16px;
		text-decoration: none;
	}
	li a:hover, .dropdown:hover .dropbtn, .dropdown:hover .dropbtn2 {
		background-color: #443029;
	}
	li.dropdown {
		text-align: center;
		display: block;
		height: 50px;
		overflow: hidden;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #FFECE5;
		width: 100%;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 0;
	}
	.dropdown-content a {
		text-align: center;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
	.dropdown-content a:hover {
		text-align: center;
		background-color: #FFD9CC;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	.dropdown-content2 {
		display: none;
		position: absolute;
		background-color: #FFECE5;
		width: 160px;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 0;
	}
	.dropdown-content2 a {
		text-align: center;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
	.dropdown-content2 a:hover {
		text-align: center;
		background-color: #FFD9CC;
	}
	.dropdown:hover .dropdown-content2 {
		display: block;
	}
	li a.mypage2 {
		background: #FFECE5;
		display: block;
		padding: 0px;
		font-family: "paybooc-Light", sans-serif;
		text-decoration: none;
		color: black;
	}
	li a.mypage2:hover {
		background: #FFD9CC;
		color: white;
	}
	input.header {
		font-family: 'Gowun Dodum', sans-serif;
		font-size: 15px;
		width: 100%;
		height: 48px;
		background-color: #FFECE5;
		color: black;
		box-shadow: 0px;
		border: none;
	}
	input.mini {
		font-family: 'Gowun Dodum', sans-serif;
		font-size: 15px;
		width: 207px;
		height: 48px;
		background-color: #FFECE5;
		color: black;
		box-shadow: 0px;
		border: none;
	}
	input.header:hover, input.mini:hover {
		cursor: pointer;
		background-color: #FFD9CC;
	}

}

	/*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */
}
