#partyroom_wrap
{
	width:570px; height:412px;
	margin-top:70px; margin-left:auto; margin-right:auto;
	border:1px solid blue; border-radius:20px;
	box-shadow:15px 15px 15px red;
}

#partyslist_paging
{
	margin:13px 0 0 190px;
}

.title-wrap {
  position: relative;
}

.title-wrap .title-right {
  position: absolute;
  top: 0;
  right: 0;
}

.title-wrap.border {
  border-bottom: 2px solid #7e69fe;
}