body{
	font-family: 나눔고딕,NanumGothic,돋움,Dotum;
}
button{
	position: static;
	width: 400px;
	margin: 3px;
	padding: 22px 30px;
	font-size: 13px;
	color: #61443a;
	border-radius: 20px;
	border: solid 5px #61443a;
	background-color: #eadfdb;
	overflow: hidden;
	}
.push:hover{ 
	animation: pulse 0.3s linear 1;
	background-color: #c0a096;
	border: 5px solid #61443a;
	}
.push-child{ 
	color: #b1b1b1;
	animation: pulse 0.3s linear 1;
	background-color: #e3e3e3;
	border: 5px solid #c0c0c0;
	pointer-events : none;
	}
@keyframes pulse{
	25%  {transform: scale(0.98);}
	75%  {transform: scale(1.01);}
	}
	
#item{
	}
#item .party-list-wrap{
	margin-top: 80px; 
	margin-bottom:20px; 
	width:900px; 
	min-height: 524px;
	}
#item .type{
	font-size: 20px;
	}

#options {
  position: absolute;
  z-index: 9;
  background-color: #FFECE5;
  text-align: center;
  border: 1px solid #FFD9CC;
}
#optionsheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #FFD9CC;
  color: #443029;
}

hr{
	 width:545px;
	 color:#FFECE5; 
}
.blackbutton-active {
	background-color: white;
	color: #61443A;
	border-radius:8px;
	border: 2px solid #FFD9CC;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.blackbutton-selected {
	background-color: #443029;
	border: 2px solid #443029;
	color: white;
	border-radius:8px;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.blackbutton-inactive {
	background-color: white;
	color: black;
	border: 2px solid #FFECE5;
	border-radius:8px;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.blackbutton-active:hover {
	background-color: #61443A;
	border: 2px solid #443029;
	color: white;
}
.blackbutton-inactive:hover {
	background-color: #FFECE5;
}