.party-list-button
{
  position: relative;
  width: 400px;
  margin: 13px;
  padding: 22px 30px;
  font-size: 13px;
  color: #666666;
  border-radius: 20px;
  border: solid 1px #dddddd;
  background-color: white;
  overflow: hidden;
}

.party-list-button:hover 
{
  border: 1px solid #a89cf4;
}
