
.party-list-button
{
  position: relative;
  width: 400px;
  margin: 13px;
  padding: 22px 30px;
  font-size: 13px;
  color: #61443a;
  border-radius: 20px;
  border: solid 1px #dddddd;
  background-color: #c7aaa0;
  overflow: hidden;
}

.party-list-button:hover 
{
  background-color: #c0a096;
  border: 1px ssolid #61443a;
}
#item{}
#item .party-list-wrap{width:900px;}

#item .type
{font-size: 20px;}

